/* ===============================
   UNDERSPEC B2C - VALUE MERAH
=============================== */
td.value-bad,
td.table-danger,
td.value-bad * {
    color: #dc2626 !important; /* merah */
    font-weight: 700;           /* tebal */
}

/* Hover tetap merah */
td.value-bad:hover,
td.table-danger:hover,
td.value-bad *:hover {
    color: #dc2626 !important;
}
