/* =========================
   VALUE MERAH UNDERSPEC B2C
========================= */
#underspec-table table td.value-bad {
    color: #dc2626 !important;  /* merah */
    font-weight: 700 !important;
}

/* Kalau td clickable + value-bad */
#underspec-table table td.clickable.value-bad {
    color: #dc2626 !important;
    font-weight: 700 !important;
}

/* Hover tetap merah */
#underspec-table table td.value-bad:hover {
    color: #dc2626 !important;
}
