.value-red {
  color: #dc3545; /* merah */
  font-weight: 600;
}
.value-green {
  color: #198754; /* hijau */
  font-weight: 600;
}


/* ==========================
   UNDERSPEC B2C - TOTAL ROW
========================== */
.total-row-custom {
  font-weight: 700;
}

.total-cell-custom {
  background: #1a2a6c !important; /* sama seperti header */
  color: #ffffff !important;
  text-align: center;
}

.total-cell-custom:hover {
  background: #16224f !important; /* hover sedikit gelap */
  color: #ffffff !important;
}
