<div class="container-fluid">

<h4 class="mb-4">
<i class="fa fa-project-diagram"></i> Funneling Order Monitoring
</h4>

<div class="tree-wrapper">

<div class="tree">

<div class="node root">
TOTAL ORDER
<div class="count" id="totalOrder">0</div>
</div>

<div class="branch">

<div class="node survey">
SURVEY
<div class="count" id="surveyCount">0</div>
</div>

<div class="node install">
INSTALL
<div class="count" id="installCount">0</div>
</div>

<div class="node complete">
COMPLETE
<div class="count" id="completeCount">0</div>
</div>

<div class="node cancel">
CANCEL
<div class="count" id="cancelCount">0</div>
</div>

</div>

</div>

</div>

<div class="table-responsive mt-4">

<table class="table table-sm table-striped" id="funnelingTable">

<thead class="table-dark">
<tr>
<th>WONUM</th>
<th>DATEL</th>
<th>STO</th>
<th>CUSTOMER</th>
<th>PACKAGE</th>
<th>STATUS</th>
</tr>
</thead>

<tbody></tbody>

</table>

</div>

</div>
